node_modules/
.env
.DS_Store
*.log
.vercel
.env*.local

# Rails関連ファイル
rails-backend/vendor/
rails-backend/db/*.sqlite3
rails-backend/log/
rails-backend/tmp/
rails-backend/.bundle/
rails-backend/Gemfile.lock

# Sinatra関連ファイル  
sinatra-backend/vendor/
sinatra-backend/.bundle/
sinatra-backend/Gemfile.lock

# Ruby関連
*.gem
.rbenv-version
